/* 
Primary Font:Lato;
Secondary Font:Roboto Condensed;

Dark Blue - rgb(0, 4, 255)
light Blue - rgb(0, 162, 255)

Dark Orange - rgb(255, 153, 0)
Light Orange - rgb(255, 169, 38)

font-family: 'Lato',sans-serif;
font-family: 'Roboto condensed', sans-serif;
*/

body{
    background-color: rgba(0, 162, 255, 0.473);
    animation-name: fade-in;
    animation-duration: 2s;
}

img{
    height: 200px;
    width: 400px;

}


#main{
    display: grid;
    grid-template-columns: 70% 30%;

}

.sidebar{
    background: rgb(255, 168, 38);

    

}

.post{
    margin: 2px;
    padding: 2px;

    border: 2px double black;
}
.post-title{
    margin-left: 5px;
}
.post-text{
    margin-left: 5px;
    margin-right: 5px;
}

p{
    font-family: 'Lato',sans-serif;
}
li{
    font-family: 'Lato',sans-serif;
} 

h1{
    font-family: 'Roboto condensed', sans-serif;
}
h2{
    font-family: 'Roboto condensed', sans-serif;
}

.image-grid{
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
.image-grid > img{
    margin: 8px;

    transition: 0.5s all;
}
.image-grid > img:hover{
        height: 250px;
        width: 500px;
}

#image-1{
    float: right;
    margin: 15px;
    height: 300px;
}

a{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    color:rgb(0, 4, 255);
    transition: 0.5s all;
}
a:hover{
    color:rgb(0, 162, 255) ;
}
@keyframes fade-in{
    from{opacity:0;}
    to{opacity:1;}
}

